*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'montseratt', sans-serif;
}

.app{
  background-image: url('./assets/sunset-backgroung.png');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-in-out;
}

.app.morning{
  background-image: url('./assets/morning-background.jpg');
}

.app.snow{
  background-image: url('./assets/snow-background.jpg');
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.5));
  padding: 25px;
}

.search-box{
  width: 100%;
  margin: 0 0 75px;
  padding-left: min(15%);
  padding-right: min(15%);
}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255,255,255,0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 5px 5px rgba(0,0,0,0.2);

  color: #313131;
  font-size: 16px;

  transition:  0.4s ease-in-out;
}

.search-box .search-bar:focus{
  background-color: rgba(255,255,255,0.75);
}

.location-box .location{
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date{
  margin-top: 5px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box{
  text-align: center;
}

.weather-box .weather-box-m{
  position: relative;
  display: inline-block;
  margin-top: 40px;
}

.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 20px auto;
  padding: 0 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  text-align: center;
  color: #ffffff;
  box-shadow: 3px 6px rgba(0,0,0,0.2);
}

.temp .tem{
  font-size: 110px;
  font-weight: 300;
  float: left;
}

.temp .fahren{
  font-size: 35px;
  font-weight: 500;
  float: left;
  padding: 30px 0 0 15px;
}

.degree{
  font-size: 45px;
  float: left;
  padding: 20px 0 0 0;
}

.weather-box .weather{
  float: left;
  padding: 0 0 0 10px;
  color:#ffffff;
  font-size: 40px;
  font-weight: 500;
}

.weather-icon-api{
  color: #ffffff;
  padding: 0 10px 0 0;
  float: left;
}

.temp-min{
  display: inline-block;
  font-size: 23px;
  padding: 0 10px 0 0;
}

.temp-max{
  display: inline-block;
  font-size: 23px;
  padding: 0 0 0 10px;
}

.vl{
  display: inline-block;
  border-left: 2px solid rgba(255,255,255,0.3);
  height: 18px;
}
